---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
import MouseSection from '../components/MouseSection.astro';
import Slider from '../components/Slider';
import Details from '../components/Details.astro';
import Navbar from '../components/Navbar.astro';
import Header from '../components/Header.astro';
---

<Layout title="Tienda">

	<Navbar/>
	<Header/>
<MouseSection/>



<div class="container contenedor-details mt-4">
	<h2 class="text-white text-center mb-4">Principios Y Valores</h2>
	<div class="row ">
		<div class="col-md-6">
			<Details title='Security' description='lorem' img='/security.svg'/>
		</div>
		<div class="col-md-6">
			<Details title='Money' description='lorem' img='/money.svg'/>
		</div>
		<div class="col-md-6">
			<Details title='Tecnology' description='lorem' img='/computer.svg'/>
		</div>
		<div class="col-md-6">
			<Details title='People' description='lorem' img='/people.svg'/>
		</div>
	</div>


</div>
<div class="container contenedor-sliders mt-4">


	<h2 class="text-white text-center mb-4">Marcas Disponibles</h2>
	<Slider client:load/>
</div>

<div class="container mt-4">

	<h2 class="text-white text-center mb-4">Articulos Destacados</h2>
	<div class="row contenedor-cards">
		<div class="col-md-3">
			<Card body='hola' href='si' title='sisas'/>
		</div>
		<div class="col-md-3">
			<Card body='hola' href='si' title='sisas'/>
		</div>
		<div class="col-md-3">
			<Card body='hola' href='si' title='sisas'/>
		</div>
		<div class="col-md-3">
			<Card body='hola' href='si' title='sisas'/>
		</div>
	</div>
	
</div>

</Layout>


<style>
	body{
		
		overflow-x: hidden;
	}
	.contenedor-cards{
		align-items: center;
		margin: 0 auto;
		justify-content: center;
		display: flex;
		
	}
	body{
		background-color: #222222;
	}
</style>