

<div class="cube">
    <div class="face front"></div>
    <div class="face back"></div>
    <div class="face top"></div>
    <div class="face bottom"></div>
    <div class="face left"></div>
    <div class="face right"></div>
  </div>

<style>
.cube {
  width: 100%; /* Cambiado a 100% para adaptarse al contenedor */
  height: 100%; /* Cambiado a 100% para adaptarse al contenedor */
  position: relative;
  transform-style: preserve-3d;
  animation: rotateCube 5s infinite linear;
}

.face {
  position: absolute;
  width: 50px; /* Ancho de la cara */
  height: 50px; /* Alto de la cara */
  text-align: center;
  background-color: rgb(0, 184, 255);
  line-height: 50px; /* Ajusta el centrado vertical */
  font-size: 10px; /* Tamaño de la fuente */
  border: 1px solid rgb(0, 255, 159); /* Agregado un borde para resaltar las caras */
  box-shadow: 0 0 10px rgba(0, 184, 255, 0.8); /* Efecto de iluminación */
}


.front {
  transform: translateZ(25px); /* La mitad del tamaño del cubo */
}

.back {
  transform: rotateY(180deg) translateZ(25px); /* La mitad del tamaño del cubo */
}

.top {
  transform: rotateX(90deg) translateZ(25px); /* La mitad del tamaño del cubo */
}

.bottom {
  transform: rotateX(-90deg) translateZ(25px); /* La mitad del tamaño del cubo */
}

.left {
  transform: rotateY(-90deg) translateZ(25px); /* La mitad del tamaño del cubo */
}

.right {
  transform: rotateY(90deg) translateZ(25px); /* La mitad del tamaño del cubo */
}

@keyframes rotateCube {
  from {
    transform: rotateX(0deg) rotateY(0deg);
  }
  to {
    transform: rotateX(-360deg) rotateY(-360deg);
  }
}



</style>