---
interface Props {
	title: string;
	body: string;
	href: string;
}

const { href, title, body } = Astro.props;


---
<div class="container-card">

	<div class="container-img">
		<img src="https://i.ebayimg.com/images/g/uusAAOSwxNllQRlr/s-l1600.jpg" alt="">
	</div>
	<div class="container-tex">
		<h4 class="text-white text-center">Laptop</h4>
		<p class="text-white text-center">500.99$</p>
		<div class="contenedor-boton">

			<button class="btn text-center text-white">
				<a href="/products/Laptop">Información</a>

				</button>
		</div>
		
	</div>
</div>


<style>
	a{
		text-decoration: none;
		color: white;
	}
	.contenedor-boton{
		display: flex;
		margin-top: -20px;
	}
	button{
		margin: 0 auto;
	}
	.container-img{
		overflow: hidden;
	}
.container-card{
	width: 300px;
	
	margin: 0 auto;
	margin-bottom: 10px;
	height: 450px;
	transition: all 0.8s;
	border-radius: 25px;
	overflow: hidden;
}
.container-card:hover{
	outline: 2px solid wheat;
	transition: all 0.8s;
}
h4{
	font-size: 1.4rem;
}
p{
	font-size: 1.2rem;
}
img{
	border-radius: 25px;
	width: 100%;
	transition: all 0.8s;
}
img:hover{
	border-radius: 25px;
	transform: scale(1.2);
}

</style>