---
interface Props{
    img:string;
    title : string;
    description : string
}

const {img,title,description} = Astro.props;
---


<div class="container-card container">

    <div class="container-img">
        <img src={img} alt="">
    </div>
    <div class="container-texto">
        <h2 class="text-white">{title}</h2>
        <p class="text-white">{description}</p>
    </div>

</div>

<style>
    .container-card{
        background-color: #393939;
        width: 100%;
        margin-bottom: 10px;
        border-radius: 25px;
        display: flex;
        overflow: hidden;
    }
    h2{
        font-size: 1.5rem;

    }
    .container-texto{
        text-align: center;
        padding: 10px;
        

    }
    p{
        text-wrap: balance;
        font-size: 15px;
    }
    img{
        margin-top: -25px;
        height: 150px;
        margin: 0 auto;
        width: 150px;
        animation:  AnimarImagen 2s infinite ease-out alternate ;
    }
    @keyframes AnimarImagen{
        to{
            transform:  scale(0.8);
        }
        from{
            transform: translateY(0px) scale(1.2) ;
        }
    }

</style>