<section>
    <div class="container-fluid">
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <div class="container-card">
                        <div class="container-img">
                            <img src="/mouse1.png" alt="">
                        </div>
                        <div class="container-texto">
                            <p>Mouse Gaming</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="container-card">
                        <div class="container-img">
                            <img src="/mouse2.png" alt="">
                        </div>
                        <div class="container-texto">
                            <p>Mouse Gaming</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="container-card">
                        <div class="container-img">
                            <img src="/mouse3.png" alt="">
                        </div>
                        <div class="container-texto">
                            <p>Mouse Gaming</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<style>
    p{
        text-align: center;
        color: white;
        font-size: 1.2rem;
    }
    .container-card{
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        margin-top: 100px;
        width: 350px;
        border-radius: 25px;
        justify-content: center;
        
        align-items: center;
        height: 250px;
        position: relative;
        background-color: #393939;
    }
    img{
        margin-top: -150px;
        width: 250px;
        
        height: 250px;
        object-fit: contain;
       
    }
</style>